### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [31]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "../Resources/schools_complete.csv"
student_data_to_load = "../Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [32]:
#total number of schools
tot_school = school_data_complete["school_name"].unique()
tot_school

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [33]:
#total number of schools
total_schools = len(tot_school)
total_schools

15

In [34]:
#total number of students
total_stus = school_data_complete["size"].count()
total_stus

39170

In [35]:
# budget total
budget_total = school_data["budget"].sum()
budget_total

24649428

In [36]:
#Calculate the average math score 
average_math = school_data_complete["math_score"].mean()
average_math

78.98537145774827

In [37]:
#Calculate the average reading score
average_read = school_data_complete["reading_score"].mean()
average_read

81.87784018381414

In [38]:
#Calculate the percentage of students with a passing math score (70 or greater)
passing_math = school_data_complete.loc[school_data_complete["math_score"] >= 70,:]
passing_math

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [39]:
percent_math = round(float(passing_math["math_score"].count()/total_stus) *100,6)
total_stus

39170

In [40]:
passing_read = school_data_complete.loc[school_data_complete["reading_score"] >= 70,:]
passing_read

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [41]:
percent_read = round(float(passing_read["reading_score"].count()/total_stus) *100,6)
percent_read

85.805463

In [42]:
#Calculate the percentage of students who passed math **and** reading (% Overall Passing)
overall_pass = ((percent_math + percent_read)/2)
overall_pass

80.393158

In [43]:
summary = pd.DataFrame({"Total Schools":[total_schools],
                       "Total Students":[total_stus],
                       "Total Budget":[budget_total],
                       "Average Math Score":[average_math],
                       "Average Reading Score":[average_read],
                        "Percent Passing Math":[percent_math],
                        "Percent Passing Reading":[percent_read],
                        "Percent Overall Passing":[overall_pass]
                       })
summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,80.393158

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [44]:
school_merge =school_data_complete.set_index('school_name').groupby(['school_name'])
school_merge

In [45]:
#school name
school = school_data.set_index("school_name")
school

                       School ID      type  size   budget
school_name
Huang High School              0  District  2917  1910635
Figueroa High School           1  District  2949  1884411
Shelton High School            2   Charter  1761  1056600
Hernandez High School          3  District  4635  3022020
Griffin High School            4   Charter  1468   917500
Wilson High School             5   Charter  2283  1319574
Cabrera High School            6   Charter  1858  1081356
Bailey High School             7  District  4976  3124928
Holden High School             8   Charter   427   248087
Pena High School               9   Charter   962   585858
Wright High School            10   Charter  1800  1049400
Rodriguez High School         11  District  3999  2547363
Johnson High School           12  District  4761  3094650
Ford High School              13  District  2739  1763916
Thomas High School            14   Charter  1635  1043130

In [46]:
# school type
school_type = school_data.set_index("school_name")["type"]
school_type

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [47]:
#Total Students
total_students = school_merge["Student ID"].count()
total_students

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [48]:
#Total School Budget
school_budget = school_data.set_index("school_name")["budget"]
school_budget

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [49]:
#Per Student Budget
per_stu_budget = school_data.set_index("school_name")["budget"]/school_data.set_index("school_name")["size"]


#per_stu_budget = school_budget/total_students
#per_stu_budget
per_stu_budget

school_name
Huang High School        655.0
Figueroa High School     639.0
Shelton High School      600.0
Hernandez High School    652.0
Griffin High School      625.0
Wilson High School       578.0
Cabrera High School      582.0
Bailey High School       628.0
Holden High School       581.0
Pena High School         609.0
Wright High School       583.0
Rodriguez High School    637.0
Johnson High School      650.0
Ford High School         644.0
Thomas High School       638.0
dtype: float64

In [50]:
#Average Math Score
avg_math = school_merge["math_score"].mean()
avg_math

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [51]:
#Average Reading Score
avg_read = school_merge["reading_score"].mean()
avg_read

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [52]:
pass_math = school_data_complete[school_data_complete["math_score"]>=70].groupby(["school_name"]).size()
pass_math

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
dtype: int64

In [53]:
per_math = (pass_math/total_students)*100
per_math

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [54]:
# Percentage Reading
pass_read = school_data_complete[school_data_complete["reading_score"]>=70].groupby(["school_name"]).size()
pass_read

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
dtype: int64

In [55]:
per_read = (pass_read/total_students)*100
per_read

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [56]:
overall_sch_pass = (per_math + per_read)/2
overall_sch_pass

school_name
Bailey High School       74.306672
Cabrera High School      95.586652
Figueroa High School     73.363852
Ford High School         73.804308
Griffin High School      95.265668
Hernandez High School    73.807983
Holden High School       94.379391
Huang High School        73.500171
Johnson High School      73.639992
Pena High School         95.270270
Rodriguez High School    73.293323
Shelton High School      94.860875
Thomas High School       95.290520
Wilson High School       95.203679
Wright High School       94.972222
dtype: float64

In [57]:
school_sum = pd.DataFrame({ 
                            "School Type":school_type,
                            "Total Students":total_students,
                            "Total School Budget":school_budget,
                            "Per Student Budget":per_stu_budget,
                            "Average Math Score":avg_math,
                            "Average Reading Score":avg_read,
                            "% Passing Math":per_math,
                            "% Passing Reading":per_read,
                            "% Overall Passing":overall_sch_pass
                            
                            
    
    
})
school_sum

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,73.807983
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,94.379391
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,94.860875
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,95.203679
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,94.972222

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [58]:
top_schools = school_sum.sort_values("% Overall Passing", ascending = False)
top_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,95.203679

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [59]:
bottom_schools = top_schools.tail()
bottom_schools = bottom_schools.sort_values("% Overall Passing")
bottom_schools

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,73.804308

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [64]:
ninth_math = school_data_complete[school_data_complete["grade"] == "9th"].groupby("school_name").mean()["math_score"]
ninth_math

school_name
Bailey High School       77.083676
Cabrera High School      83.094697
Figueroa High School     76.403037
Ford High School         77.361345
Griffin High School      82.044010
Hernandez High School    77.438495
Holden High School       83.787402
Huang High School        77.027251
Johnson High School      77.187857
Pena High School         83.625455
Rodriguez High School    76.859966
Shelton High School      83.420755
Thomas High School       83.590022
Wilson High School       83.085578
Wright High School       83.264706
Name: math_score, dtype: float64

In [65]:
tenth_math =school_data_complete[school_data_complete["grade"] == "10th"].groupby("school_name").mean()["math_score"]
tenth_math

school_name
Bailey High School       76.996772
Cabrera High School      83.154506
Figueroa High School     76.539974
Ford High School         77.672316
Griffin High School      84.229064
Hernandez High School    77.337408
Holden High School       83.429825
Huang High School        75.908735
Johnson High School      76.691117
Pena High School         83.372000
Rodriguez High School    76.612500
Shelton High School      82.917411
Thomas High School       83.087886
Wilson High School       83.724422
Wright High School       84.010288
Name: math_score, dtype: float64

In [66]:
eleventh_math = school_data_complete[school_data_complete["grade"] == "11th"].groupby("school_name").mean()["math_score"]
eleventh_math

school_name
Bailey High School       77.515588
Cabrera High School      82.765560
Figueroa High School     76.884344
Ford High School         76.918058
Griffin High School      83.842105
Hernandez High School    77.136029
Holden High School       85.000000
Huang High School        76.446602
Johnson High School      77.491653
Pena High School         84.328125
Rodriguez High School    76.395626
Shelton High School      83.383495
Thomas High School       83.498795
Wilson High School       83.195326
Wright High School       83.836782
Name: math_score, dtype: float64

In [67]:
twelveth_math = school_data_complete[school_data_complete["grade"] == "12th"].groupby("school_name").mean()["math_score"]
twelveth_math

school_name
Bailey High School       76.492218
Cabrera High School      83.277487
Figueroa High School     77.151369
Ford High School         76.179963
Griffin High School      83.356164
Hernandez High School    77.186567
Holden High School       82.855422
Huang High School        77.225641
Johnson High School      76.863248
Pena High School         84.121547
Rodriguez High School    77.690748
Shelton High School      83.778976
Thomas High School       83.497041
Wilson High School       83.035794
Wright High School       83.644986
Name: math_score, dtype: float64

In [68]:
math_school = pd.DataFrame({"Ninth Grade":ninth_math,
                           "Tenth Grade":tenth_math,
                           "Eleventh Grade":eleventh_math,
                            "Twelveth Grade":twelveth_math
                           })
math_school

,Ninth Grade,Tenth Grade,Eleventh Grade,Twelveth Grade
school_name,,,,
Bailey High School,77.083676,76.996772,77.515588,76.492218
Cabrera High School,83.094697,83.154506,82.765560,83.277487
Figueroa High School,76.403037,76.539974,76.884344,77.151369
Ford High School,77.361345,77.672316,76.918058,76.179963
Griffin High School,82.044010,84.229064,83.842105,83.356164
Hernandez High School,77.438495,77.337408,77.136029,77.186567
Holden High School,83.787402,83.429825,85.000000,82.855422
Huang High School,77.027251,75.908735,76.446602,77.225641
Johnson High School,77.187857,76.691117,77.491653,76.863248
Pena High School,83.625455,83.372000,84.328125,84.121547
Rodriguez High School,76.859966,76.612500,76.395626,77.690748
Shelton High School,83.420755,82.917411,83.383495,83.778976
Thomas High School,83.590022,83.087886,83.498795,83.497041
Wilson High School,83.085578,83.724422,83.195326,83.035794
Wright High School,83.264706,84.010288,83.836782,83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [69]:
ninth_read = school_data_complete[school_data_complete["grade"] == "9th"].groupby("school_name").mean()["reading_score"]
ninth_read

school_name
Bailey High School       81.303155
Cabrera High School      83.676136
Figueroa High School     81.198598
Ford High School         80.632653
Griffin High School      83.369193
Hernandez High School    80.866860
Holden High School       83.677165
Huang High School        81.290284
Johnson High School      81.260714
Pena High School         83.807273
Rodriguez High School    80.993127
Shelton High School      84.122642
Thomas High School       83.728850
Wilson High School       83.939778
Wright High School       83.833333
Name: reading_score, dtype: float64

In [70]:
tenth_read = school_data_complete[school_data_complete["grade"] == "10th"].groupby("school_name").mean()["reading_score"]
tenth_read

school_name
Bailey High School       80.907183
Cabrera High School      84.253219
Figueroa High School     81.408912
Ford High School         81.262712
Griffin High School      83.706897
Hernandez High School    80.660147
Holden High School       83.324561
Huang High School        81.512386
Johnson High School      80.773431
Pena High School         83.612000
Rodriguez High School    80.629808
Shelton High School      83.441964
Thomas High School       84.254157
Wilson High School       84.021452
Wright High School       83.812757
Name: reading_score, dtype: float64

In [71]:
eleventh_read = school_data_complete[school_data_complete["grade"] == "11th"].groupby("school_name").mean()["reading_score"]
eleventh_read

school_name
Bailey High School       80.945643
Cabrera High School      83.788382
Figueroa High School     80.640339
Ford High School         80.403642
Griffin High School      84.288089
Hernandez High School    81.396140
Holden High School       83.815534
Huang High School        81.417476
Johnson High School      80.616027
Pena High School         84.335938
Rodriguez High School    80.864811
Shelton High School      84.373786
Thomas High School       83.585542
Wilson High School       83.764608
Wright High School       84.156322
Name: reading_score, dtype: float64

In [72]:
twelveth_read = school_data_complete[school_data_complete["grade"] == "12th"].groupby("school_name").mean()["reading_score"]
twelveth_read

school_name
Bailey High School       80.912451
Cabrera High School      84.287958
Figueroa High School     81.384863
Ford High School         80.662338
Griffin High School      84.013699
Hernandez High School    80.857143
Holden High School       84.698795
Huang High School        80.305983
Johnson High School      81.227564
Pena High School         84.591160
Rodriguez High School    80.376426
Shelton High School      82.781671
Thomas High School       83.831361
Wilson High School       84.317673
Wright High School       84.073171
Name: reading_score, dtype: float64

In [73]:
read_school = pd.DataFrame({"Ninth Grade":ninth_read,
                           "Tenth Grade":tenth_read,
                           "Eleventh Grade":eleventh_read,
                            "Twelveth Grade":twelveth_read
                           })
read_school

,Ninth Grade,Tenth Grade,Eleventh Grade,Twelveth Grade
school_name,,,,
Bailey High School,81.303155,80.907183,80.945643,80.912451
Cabrera High School,83.676136,84.253219,83.788382,84.287958
Figueroa High School,81.198598,81.408912,80.640339,81.384863
Ford High School,80.632653,81.262712,80.403642,80.662338
Griffin High School,83.369193,83.706897,84.288089,84.013699
Hernandez High School,80.866860,80.660147,81.396140,80.857143
Holden High School,83.677165,83.324561,83.815534,84.698795
Huang High School,81.290284,81.512386,81.417476,80.305983
Johnson High School,81.260714,80.773431,80.616027,81.227564
Pena High School,83.807273,83.612000,84.335938,84.591160
Rodriguez High School,80.993127,80.629808,80.864811,80.376426
Shelton High School,84.122642,83.441964,84.373786,82.781671
Thomas High School,83.728850,84.254157,83.585542,83.831361
Wilson High School,83.939778,84.021452,83.764608,84.317673
Wright High School,83.833333,83.812757,84.156322,84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [76]:
spending_ranges = [0, 600, 620, 640, 4000]
school_group = ["<$600","$600 - 620", "$620 - 640", ">$640"]
school_data_complete["budget_bins"] = pd.cut(school_data_complete["budget"]/school_data_complete["size"], spending_ranges, labels = school_group)
group_spend = school_data_complete.groupby("budget_bins")
group_spend

In [77]:
avg_math_score = group_spend["math_score"].mean()
avg_math_score

budget_bins
<$600         83.362283
$600 - 620    83.839917
$620 - 640    78.236441
>$640         77.058995
Name: math_score, dtype: float64

In [78]:
avg_read_score = group_spend["reading_score"].mean()
avg_read_score

budget_bins
<$600         83.912412
$600 - 620    84.044699
$620 - 640    81.559460
>$640         80.958411
Name: reading_score, dtype: float64

In [79]:
per_pass_math = school_data_complete[school_data_complete['math_score'] >=70].groupby('budget_bins')['Student ID'].count()/group_spend['Student ID'].count()*100
per_pass_math

budget_bins
<$600         93.738467
$600 - 620    94.594595
$620 - 640    71.963798
>$640         66.609088
Name: Student ID, dtype: float64

In [80]:
per_pass_read = school_data_complete[school_data_complete['reading_score'] >=70].groupby('budget_bins')['Student ID'].count()/group_spend['Student ID'].count()*100
per_pass_read

budget_bins
<$600         96.506335
$600 - 620    95.945946
$620 - 640    84.401411
>$640         80.779963
Name: Student ID, dtype: float64

In [81]:
#overall
over_pass = (avg_math_score + avg_read_score)/2
over_pass

budget_bins
<$600         83.637348
$600 - 620    83.942308
$620 - 640    79.897950
>$640         79.008703
dtype: float64

In [82]:
school_spending_sum = pd.DataFrame ({"Average Math Score": avg_math_score,
                                    "Average Reading Score": avg_read_score,
                                    "% Passing Math":per_pass_math,
                                     "% Passing Reading":per_pass_read,
                                    "Overall Passing":over_pass
                                    })
school_spending_sum

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing
budget_bins,,,,,
<$600,83.362283,83.912412,93.738467,96.506335,83.637348
$600 - 620,83.839917,84.044699,94.594595,95.945946,83.942308
$620 - 640,78.236441,81.559460,71.963798,84.401411,79.897950
>$640,77.058995,80.958411,66.609088,80.779963,79.008703

## Scores by School Size

* Perform the same operations as above, based on school size.

In [83]:
size_bin = [0,1000,2000,5000]
size_group = ["Small(<1000)", "Medium(1000-2000)","Large(2000-5000)"]
school_data_complete["size_bins"] = pd.cut(school_data_complete["size"], size_bin, labels = size_group)
size_group

['Small(<1000)', 'Medium(1000-2000)', 'Large(2000-5000)']

In [84]:
size = school_data_complete.groupby("size_bins")
size

In [85]:
avg_math_size = size["math_score"].mean()
avg_math_size

size_bins
Small(<1000)         83.828654
Medium(1000-2000)    83.372682
Large(2000-5000)     77.477597
Name: math_score, dtype: float64

In [86]:
avg_read_size = size["reading_score"].mean()
avg_read_size

size_bins
Small(<1000)         83.974082
Medium(1000-2000)    83.867989
Large(2000-5000)     81.198674
Name: reading_score, dtype: float64

In [87]:
size_pass_math = school_data_complete[school_data_complete['math_score'] >=70].groupby("size_bins")["Student ID"].count()/size["Student ID"].count()* 100
size_pass_math

size_bins
Small(<1000)         93.952484
Medium(1000-2000)    93.616522
Large(2000-5000)     68.652380
Name: Student ID, dtype: float64

In [88]:
size_pass_read = school_data_complete[school_data_complete['reading_score'] >=70].groupby("size_bins")["Student ID"].count()/size["Student ID"].count()* 100
size_pass_read

size_bins
Small(<1000)         96.040317
Medium(1000-2000)    96.773058
Large(2000-5000)     82.125158
Name: Student ID, dtype: float64

In [89]:
over_size = school_data_complete[(school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)].groupby("size_bins")["Student ID"].count()/size["Student ID"].count() * 100
over_size

size_bins
Small(<1000)         90.136789
Medium(1000-2000)    90.624267
Large(2000-5000)     56.574046
Name: Student ID, dtype: float64

In [90]:
size_sum = pd.DataFrame ({"Average Math Score":avg_math_size,
                          "Average Reading Score":avg_read_size,
                          "%Passing Math":size_pass_math,
                          "%Passing Reading":size_pass_read,
                          "Overall Passing":over_size
                         })
size_sum

,Average Math Score,Average Reading Score,%Passing Math,%Passing Reading,Overall Passing
size_bins,,,,,
Small(<1000),83.828654,83.974082,93.952484,96.040317,90.136789
Medium(1000-2000),83.372682,83.867989,93.616522,96.773058,90.624267
Large(2000-5000),77.477597,81.198674,68.652380,82.125158,56.574046

## Scores by School Type

* Perform the same operations as above, based on school type

In [91]:
type_group = school_data_complete.groupby("type")
avg_math_type = type_group["math_score"].mean()
avg_read_type = type_group["reading_score"].mean()

In [92]:
type_pass_math = school_data_complete[school_data_complete['math_score'] >=70].groupby("type")["Student ID"].count()/type_group["Student ID"].count()* 100
type_pass_math

type
Charter     93.701821
District    66.518387
Name: Student ID, dtype: float64

In [93]:
type_pass_read = school_data_complete[school_data_complete['reading_score'] >=70].groupby("type")["Student ID"].count()/type_group["Student ID"].count()* 100
type_pass_read

type
Charter     96.645891
District    80.905249
Name: Student ID, dtype: float64

In [96]:
over_type = school_data_complete[(school_data_complete['math_score'] >=70) & (school_data_complete['reading_score'] >=70)].groupby("type")["Student ID"].count()/type_group["Student ID"].count()
over_type

type
Charter     0.905609
District    0.536959
Name: Student ID, dtype: float64

In [97]:
type_sum = pd.DataFrame ({"Average Math Score":avg_math_type,
                          "Average Reading Score":avg_read_type,
                          "%Passing Math":type_pass_math,
                          "%Passing Reading":type_pass_read,
                          "Overall Passing":over_type
                         })
type_sum

,Average Math Score,Average Reading Score,%Passing Math,%Passing Reading,Overall Passing
type,,,,,
Charter,83.406183,83.902821,93.701821,96.645891,0.905609
District,76.987026,80.962485,66.518387,80.905249,0.536959